<div
  class="cls-content-header cls-row-between"
  [ngStyle]="{ padding: globalService.device.isDesktop ? '0 30px' : '0 15px' }"
>
  @defer(when globalService.device.isDesktop){
  <ng-container *ngTemplateOutlet="temHeaderDesktop"></ng-container>
  } @defer (when globalService.device.isMobile){
  <ng-container *ngTemplateOutlet="temHeaderMobile"></ng-container>
  }
</div>

<ng-template #temHeaderDesktop>
  <div class="cls-row cls-gap-20 cls-a-center cls-pl-10 cls-pr-10">
    <span role="button" class="cls-cursor-p" (click)="goRouter('/home')"
      >LOGO EMPRESA</span
    >
    <nz-divider nzType="vertical"></nz-divider>
    <span role="button" class="cls-cursor-p" (click)="goRouter('/users')"
      >Gestión de usuarios</span
    >
  </div>
  <div class="cls-row cls-gap-20 cls-a-center cls-j-center">
    <span> {{ authService.getUser()?.name }}</span>
    <span
      nz-icon
      nzType="logout"
      nzTheme="outline"
      class="cls-icon-close cls-cursor-p"
      nz-popconfirm
      nzPopconfirmTitle="¿Estás seguro de cerrar sesión?"
      (nzOnConfirm)="logout()"
      nzPopconfirmPlacement="leftBottom"
    ></span>
  </div>
</ng-template>

<ng-template #temHeaderMobile>
  <div class="cls-row-between cls-a-center cls-w-100">
    <span role="button" class="cls-cursor-p" (click)="goRouter('/home')"
      >LOGO EMPRESA</span
    >

    <button
      class="cls-title-menu"
      nz-button
      nzType="default"
      (click)="openMenuMobile()"
      nzSize="large"
    >
      Menú
    </button>

    <nz-drawer
      [nzClosable]="true"
      [nzVisible]="visibleMenuMobile"
      [nzPlacement]="'right'"
      [nzCloseIcon]="'arrow-right'"
      nzTitle="Menú"
      nzExtra=""
      (nzOnClose)="closeMainMobile()"
    >
      <ng-container *nzDrawerContent>
        <div class="cls-column cls-gap-20">
          <span role="button" class="cls-cursor-p" (click)="goRouter('/users')"
            >Gestión de usuarios</span
          >

          <span
            role="button"
            class="cls-row cls-a-center cls-gap-20 cls-cursor-p"
            nz-popconfirm
            nzPopconfirmTitle="¿Estás seguro de cerrar sesión?"
            (nzOnConfirm)="logout()"
            nzPopconfirmPlacement="leftBottom"
          >
            <span> Cerrar sesión</span>
          </span>
        </div>
      </ng-container></nz-drawer
    >
  </div>
</ng-template>
