<div id="footer" class="cls-column cls-footer cls-gap-40">
  <div class="cls-column cls-gap-20 cls-a-center">
    <h2 class="cls-title-deg">
      {{ "WANTMORE" | translate }}
    </h2>
    <!-- <img src="/assets/icons/footer/contact.png" alt="" width="80" height="80" /> -->
  </div>

  <!-- <div class="cls-column cls-a-center">
    <p class="cls-p cls-m-0" style="width: fit-content">
      {{ "FOLLOW" | translate }}
    </p>
    <div class="cls-row cls-gap-40">
      <a href="https://www.instagram.com/titanqingenieria" target="_blank">
        <img
          src="/assets/icons/social/instagram2.png"
          alt=""
          width="30"
          height="30"
          class="cls-cursor-p"
        />
      </a>

      <a href="https://www.linkedin.com/company/76607575/" target="_blank">
        <img
          src="/assets/icons/social/linkedin.png"
          alt=""
          width="30"
          height="30"
          class="cls-cursor-p"
        />
      </a>

      <a href="https://www.tiktok.com/@titanqingenieriacol" target="_blank">
        <img
          src="/assets/icons/social/tik-tok1.png"
          alt=""
          width="30"
          height="30"
          class="cls-cursor-p"
        />
      </a>
    </div>
  </div> -->

  @defer(when globalService.device.isDesktop){
  <div class="cls-row cls-j-center cls-gap-40">
    <!-- <table>
      <tr>
        <td>
          <p class="cls-p cls-m-0" style="width: fit-content">
            {{ "LOCATION" | translate }}
          </p>
        </td>
        <td>
          <span class="cls-text-footer">Colombia, Caldas, Manizales</span>
        </td>
      </tr>
      <tr>
        <td>
          <p class="cls-p cls-m-0" style="width: fit-content">
            {{ "ADDRESS" | translate }}
          </p>
        </td>
        <td>
          <span class="cls-text-footer">Calle 72b #19-20</span>
        </td>
      </tr>
    </table> -->

    <table>
      <tr>
        <td>
          <p class="cls-p cls-m-0" style="width: fit-content">
            {{ "EMAIL" | translate }}
          </p>
        </td>
        <td>
          <span class="cls-text-footer">{{ email }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <p class="cls-p cls-m-0" style="width: fit-content">
            {{ "PHONE" | translate }}
          </p>
        </td>
        <td>
          <span class="cls-text-footer"
            ><a href="https://wa.me/4089087644319?text=Hello"
              >+1 9087644319</a
            ></span
          >
        </td>
      </tr>
    </table>
  </div>

  } @defer(when globalService.device.isMobile) {
  <div class="cls-column cls-gap-20">
    <!-- <div class="cls-column cls-gap-10 cls-a-center">
      <p class="cls-p cls-p-0 cls-m-0" style="width: fit-content">
        {{ "LOCATION" | translate }}
      </p>
      <span class="cls-text-footer">Colombia, Caldas, Manizales</span>
    </div>

    <div class="cls-column cls-gap-10 cls-a-center">
      <p class="cls-p cls-p-0 cls-m-0" style="width: fit-content">
        {{ "ADDRESS" | translate }}
      </p>
      <span class="cls-text-footer">Calle 72b #19-20</span>
    </div> -->

    <div class="cls-column cls-gap-10 cls-a-center">
      <p class="cls-p cls-p-0 cls-m-0" style="width: fit-content">
        {{ "EMAIL" | translate }}
      </p>

      <span class="cls-text-footer">{{ email }}</span>
    </div>

    <div class="cls-column cls-gap-10 cls-a-center">
      <p class="cls-p cls-p-0 cls-m-0" style="width: fit-content">
        {{ "PHONE" | translate }}
      </p>

      <span class="cls-text-footer"
        ><a href="https://wa.me/4089087644319?text=Hello"
          >+1 9087644319</a
        ></span
      >
    </div>
  </div>
  }
</div>
