<div class="cls-column cls-w-100 cls-home cls-a-center">
  <div
    class="cls-column cls-gap-20 cls-a-start"
    [ngStyle]="{ width: globalService.device.isDesktop ? '600px' : '98%' }"
  >
    <div class="cls-row-between cls-w-100 cls-a-center">
      <h3>@if(globalService.device.isDesktop){Administración de} Usuarios</h3>
      @if(modeEdit){
      <span style="color: gray">Presione la tecla "Enter" para guardar</span>
      }
    </div>
    <nz-spin [nzSpinning]="isSpinning" style="max-width: 100%">
      <nz-table
        #columnTable
        [nzData]="listOfData"
        nzPaginationType="small"
        [nzVirtualItemSize]="4"
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        [nzVirtualForTrackBy]="trackByIndex"
        [nzScroll]="{ x: '400px', y: '440px' }"
        style="width: 600px"
        nzSize="middle"
        nzNoResult="Aún no hay usuarios registrados"
      >
        <thead>
          <tr>
            <th nzWidth="190px">Correo</th>
            <th nzWidth="190px">Nombre</th>
            <th nzRight="0" nzWidth="80px">
              <div class="cls-row cls-a-center cls-j-end">
                <span>Acción</span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          @for(data of columnTable.data; track data.email; let idx = $index){
          <tr>
            <td nzWidth="190px">
              <div
                style="height: 62px"
                class="cls-row cls-j-start cls-a-center"
              >
                <span>{{ data.email }}</span>
              </div>
            </td>
            <td nzWidth="190px">
              @if(!data['edit']){
              <span>{{ data.name }}</span>
              } @else {
              <input
                type="text"
                nz-input
                [(ngModel)]="data.name"
                minlength="10"
                maxlength="150"
                nzSize="small"
                (keyup.enter)="updateName(data)"
              />
              }
            </td>
            <td nzRight="0" nzWidth="80px">
              <div class="cls-row cls-gap-10 cls-a-center cls-j-end">
                @if(data['edit']){
                <span
                  role="button"
                  nz-icon
                  nzType="close-circle"
                  nzTheme="outline"
                  class="cls-icon-action cls-cursor-p"
                  (click)="cancelEditUser(data)"
                ></span>
                } @else {
                <span
                  role="button"
                  nz-icon
                  nzType="edit"
                  nzTheme="outline"
                  nz-tooltip
                  nzTooltipTitle="Editar usuario"
                  nzTooltipPlacement="bottom"
                  class="cls-icon-action cls-cursor-p cls-edit"
                  (click)="startEditUser($event, data)"
                ></span>
                }

                <span
                  role="button"
                  nz-icon
                  nzType="delete"
                  nzTheme="outline"
                  class="cls-icon-action cls-cursor-p cls-delete"
                  nz-tooltip
                  nzTooltipTitle="Eliminar usuario"
                  nzTooltipPlacement="bottom"
                  nz-popconfirm
                  nzPopconfirmTitle="¿Estás seguro de eliminar el usuario?"
                  (nzOnConfirm)="deleteUser(data, idx)"
                  nzPopconfirmPlacement="leftBottom"
                ></span>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </nz-table>
    </nz-spin>
  </div>
</div>
