<div class="cls-column cls-w-100 cls-fenix">
  <div id="idFenix" class="cls-contain-0 cls-column cls-a-center">
    <h2
      class="cls-title-deg cls-p-20"
      style="font-size: 40px; margin-top: 20px !important"
    >
      {{ "FENIXAMAZ" | translate }}
    </h2>

    @defer(when globalService.device.isDesktop){
    <div
      class="cls-w-100 cls-row cls-a-center cls-j-center"
      style="position: absolute; top: 110px"
    >
      <div class="cls-row cls-a-center cls-j-center cls-text-erp">ERP</div>
      <div class="cls-line-fenix"></div>
      <div class="cls-row cls-a-center cls-j-center cls-text-pos">POS</div>
    </div>
    <div class="cls-w-100 cls-row cls-a-start cls-j-center cls-h-100">
      <div class="cls-w-50 cls-erp cls-column cls-gap-20 cls-a-center">
        <p class="cls-p cls-mb-0" style="position: relative">
          {{ "ERP" | translate }}
        </p>
        <p class="cls-p cls-pt-0" style="width: 500px">
          {{ "DESCRIERP" | translate }}
        </p>
        @for (item of itemsFenixErp; track item.id){
        <nz-card
          [nzCover]="temContentCard"
          [class]="'cls-module ' + item.class"
          style="padding: 10px 20px"
        >
        </nz-card>

        <ng-template #temContentCard>
          <div class="cls-row cls-gap-20 cls-a-center">
            <img
              class="cls-img-card"
              [ngSrc]="item.urlImage"
              width="30"
              height="30"
              alt=""
              style="height: 50px; width: auto"
            />
            <h2 class="cls-title-card" style="font-size: 18px">
              {{ currentLang == "en" ? item.title : item.titleEs }}
            </h2>
          </div>
        </ng-template>
        <div class="cls-line-h-blue" style="width: 50%"></div>
        }
        <button class="cls-button-ang cls-mt-20">
          <a href="" href="https://fenixerp.com.co/" target="_blank">
            {{ "READMORE" | translate }}
          </a>
          <span nz-icon nzType="double-right" nzTheme="outline"></span>
        </button>
      </div>
      <div class="cls-line-v"></div>
      <div class="cls-w-50 cls-pos cls-column cls-gap-20 cls-a-center">
        <p class="cls-p cls-mb-0">{{ "POS" | translate }}</p>
        <p class="cls-p cls-pt-0" style="width: 610px">
          {{ "DESCRIPOS" | translate }}
        </p>

        @for (item of itemsFenixPos; track item.id){
        <nz-card
          [class]="'cls-module cls-color-pos ' + item.class"
          [nzCover]="temContentCard"
          style="padding: 10px 20px"
        >
        </nz-card>

        <ng-template #temContentCard>
          <div class="cls-row cls-gap-20 cls-a-center cls-color-pos">
            <img
              class="cls-img-card"
              [ngSrc]="item.urlImage"
              width="30"
              height="30"
              alt=""
              style="height: 50px; width: auto"
            />
            <h2 class="cls-title-card cls-purple" style="font-size: 18px; color: #cda1ff">
              {{ currentLang == "en" ? item.title : item.titleEs }}
            </h2>
          </div>
        </ng-template>
        <div class="cls-line-h-purple" style="width: 50%"></div>
        }
        <button class="cls-button-ang cls-mt-20 cls-color-pos">
          <a href="" href="https://fenixpos.com.co/" target="_blank">
            {{ "READMORE" | translate }}
          </a>
          <span nz-icon nzType="double-right" nzTheme="outline"></span>
        </button>
      </div>
    </div>

    } @defer(when globalService.device.isMobile){

    <div class="cls-column cls-gap-20 cls-w-100">
      <div class="cls-column cls-gap-10 cls-a-center">
        <div class="cls-row cls-a-center cls-j-center cls-text-erp">ERP</div>
        <div
          class="cls-w-100 cls-erp cls-column cls-gap-10 cls-a-center"
          style="padding: 0px !important"
        >
          <p class="cls-p cls-mb-0" style="position: relative">
            {{ "ERP" | translate }}
          </p>
          <p class="cls-p cls-pt-0 cls-pb-0">
            {{ "DESCRIERP" | translate }}
          </p>
          @for (item of itemsFenixErp; track item.id){
          <nz-card
            [class]="'cls-module ' + item.class"
            [nzCover]="temContentCard"
            style="padding: 10px 20px"
          >
          </nz-card>

          <ng-template #temContentCard>
            <div class="cls-row cls-gap-20 cls-a-center">
              <img
                class="cls-img-card"
                [ngSrc]="item.urlImage"
                width="30"
                height="30"
                alt=""
                style="height: 50px; width: auto"
              />
              <h2 class="cls-title-card" style="font-size: 18px">
                {{ currentLang == "en" ? item.title : item.titleEs }}
              </h2>
            </div>
          </ng-template>
          <div class="cls-line-h-blue" style="width: 80%"></div>
          }
          <button class="cls-button-ang cls-mt-20">
            <a href="" href="https://fenixerp.com.co/" target="_blank">
              {{ "READMORE" | translate }}
            </a>
            <span nz-icon nzType="double-right" nzTheme="outline"></span>
          </button>
        </div>
      </div>

      <!-- <div class="cls-line-h cls-mt-20" style="width: 80%"></div> -->

      <div class="cls-column cls-gap-10 cls-a-center cls-mt-20 cls-pt-20">
        <div class="cls-row cls-a-center cls-j-center cls-text-pos">POS</div>
        <div
          class="cls-w-100 cls-pos cls-column cls-gap-10 cls-a-center"
          style="padding: 0px !important"
        >
          <p class="cls-p cls-mb-0">{{ "POS" | translate }}</p>
          <p class="cls-p cls-pt-0">
            {{ "DESCRIPOS" | translate }}
          </p>

          @for (item of itemsFenixPos; track item.id){
          <nz-card
            [class]="'cls-module cls-color-pos ' + item.class"
            [nzCover]="temContentCard"
            style="padding: 10px 20px"
          >
          </nz-card>

          <ng-template #temContentCard>
            <div class="cls-row cls-gap-20 cls-a-center cls-color-pos">
              <img
                class="cls-img-card"
                [ngSrc]="item.urlImage"
                width="30"
                height="30"
                alt=""
                style="height: 50px; width: auto"
              />
              <h2 class="cls-title-card cls-purple" style="font-size: 18px; color: #cda1ff">
                {{ currentLang == "en" ? item.title : item.titleEs }}
              </h2>
            </div>
          </ng-template>
          <div class="cls-line-h-purple" style="width: 80%"></div>
          }
          <button class="cls-button-ang cls-mt-20 cls-mb-20 cls-color-pos">
            <a href="" href="https://fenixpos.com.co/" target="_blank">
              {{ "READMORE" | translate }}
            </a>
            <span nz-icon nzType="double-right" nzTheme="outline"></span>
          </button>
        </div>
      </div>
    </div>

    }
  </div>
</div>
