<div class="cls-column cls-w-100 cls-clients">
  <div
    id="idClients"
    class="cls-contain-0 cls-column cls-a-center cls-j-start cls-gap-20"
    [ngClass]="{
      'cls-ph-20': globalService.device.isMobile,
      'cls-ph-40': globalService.device.isMobile
    }"
  >
    <p
      class="cls-title-deg cls-p-20"
      style="font-size: 40px; margin-top: 20px !important"
    >
      {{ "CLIENTSMESSAGE" | translate }}
    </p>

    @defer(when globalService.device.isDesktop){
    <ng-container *ngTemplateOutlet="temDesktop"></ng-container>
    <ng-container *ngTemplateOutlet="temMessageFooterDesktop"></ng-container>
    } @defer(when globalService.device.isMobile){
    <ng-container *ngTemplateOutlet="temMobile"></ng-container>
    <ng-container *ngTemplateOutlet="temMessageFooterMobile"></ng-container>
    }
  </div>
</div>

<ng-template #temDesktop>
  <div class="cls-row cls-a-center cls-j-center cls-w-100">
    <span
      nz-icon
      nzType="left"
      nzTheme="outline"
      (click)="previus()"
      class="cls-arrow"
    ></span>
    <nz-carousel
      #idCarruselClients
      nzEnableSwipe="false"
      nzDots="false"
      nzAutoPlay
      [nzAutoPlaySpeed]="7000"
    >
      @for (slide of array; track slide.id){
      <div nz-carousel-content>
        <div class="cls-row cls-gap-40 cls-a-start cls-j-center">
          @for (item of slide.clients; track item.id){

          <div class="cls-column cls-gap-40 cls-card-client">
            <nz-card
              [nzCover]="temContentCard"
              style="background: transparent; border: none"
            >
            </nz-card>

            <ng-template #temContentCard>
              <div class="cls-column cls-gap-20 cls-a-start">
                <img
                  class="cls-img-card"
                  [src]="item.urlImage"
                  [style]="'width: auto; object-fit: contain; ' + item.style"
                  height="70"
                  alt=""
                  priority
                />
              </div>
            </ng-template>

            <div class="cls-column cls-gap-20 cls-a-start">
              @for (prod of item.products; track prod.id){
              <div class="cls-row cls-gap-20 cls-a-start">
                @defer(when prod.urlImage){
                <img
                  [src]="prod.urlImage"
                  alt=""
                  style="width: 30px"
                  class="cls-user-no-select"
                />
                }
                <p class="cls-p cls-ta-start cls-p-0">
                  {{ currentLang == "es" ? prod.textEs : prod.text }}
                </p>
              </div>
              }
            </div>
          </div>

          @if($index == 0){
          <div class="cls-line-v" style="height: 415px"></div>
          } }
        </div>
      </div>
      }
    </nz-carousel>
    <span
      nz-icon
      nzType="right"
      nzTheme="outline"
      (click)="next()"
      class="cls-arrow"
    ></span>
  </div>
</ng-template>

<ng-template #temMobile>
  <div class="cls-row cls-a-start cls-w-100">
    <span
      nz-icon
      nzType="left"
      nzTheme="outline"
      (click)="previus()"
      class="cls-arrow"
    ></span>
    <nz-carousel
      #idCarruselClients
      [nzEnableSwipe]="globalService.device.isMobile ? true : false"
      nzDots="false"
      nzAutoPlay
      [nzAutoPlaySpeed]="7000"
    >
      <!-- nzAutoPlay
    [nzAutoPlaySpeed]="7000" -->
      @for (slide of array; track slide.id){
      <div nz-carousel-content>
        <div class="cls-column cls-gap-20 cls-card-client">
          <nz-card
            [nzCover]="temContentCard"
            style="background: transparent; border: none"
          >
          </nz-card>

          <ng-template #temContentCard>
            <div class="cls-column cls-gap-20 cls-a-center">
              <img
                class="cls-img-card"
                [src]="slide.urlImage"
                [style]="'width: auto; object-fit: contain; ' + slide.style"
                height="70"
                alt=""
                priority
              />
            </div>
          </ng-template>

          <div class="cls-column cls-gap-20 cls-a-center">
            @for (prod of slide.products; track prod.id){
            <div class="cls-column cls-gap-10 cls-a-center cls-card-product">
              @defer(when prod.urlImage){
              <img
                [src]="prod.urlImage"
                alt=""
                style="width: 30px"
                class="cls-user-no-select"
              />
              }
              <p class="cls-p cls-ta-center cls-p-0">
                {{ currentLang == "es" ? prod.textEs : prod.text }}
              </p>
            </div>
            }
          </div>
        </div>
      </div>
      }
    </nz-carousel>
    <span
      nz-icon
      nzType="right"
      nzTheme="outline"
      (click)="next()"
      class="cls-arrow"
    ></span>
  </div>
</ng-template>

<ng-template #temMessageFooterDesktop>
  <div
    class="cls-row cls-gap-0 cls-a-center cls-w-100"
    style="background: var(--bg-color-five)"
    [ngClass]="{ 'cls-column': globalService.device.isMobile }"
  >
    <p class="cls-p cls-mb-0 cls-user-no-select cls-ta-end">
      {{ "CLIENTADITIONAL" | translate }}
    </p>
    <p
      class="cls-title-deg cls-p-0"
      style="font-size: 40px"
      [ngStyle]="{
        'min-width': currentLang == 'en' ? '230px' : '200px'
      }"
    >
      + {{ "CLIENTADITIONALOF" | translate }} 200
    </p>
    <p class="cls-p cls-mb-0 cls-user-no-select cls-ta-start">
      {{ "CLIENTADITIONALBUSS" | translate }}
    </p>
  </div>
</ng-template>

<ng-template #temMessageFooterMobile>
  <div
    class="cls-row cls-mb-20 cls-gap-0 cls-a-center cls-w-100"
    [ngClass]="{ 'cls-column': globalService.device.isMobile }"
    style="background: var(--bg-color-five)"
  >
    <p class="cls-p cls-pb-0 cls-mb-0 cls-user-no-select cls-ta-center">
      {{ "CLIENTADITIONAL" | translate }}
    </p>
    <p
      class="cls-title-deg cls-p-0"
      style="font-size: 40px"
      [ngStyle]="{
        'min-width': currentLang == 'en' ? '230px' : '200px'
      }"
    >
      + {{ "CLIENTADITIONALOF" | translate }} 200
    </p>
    <p class="cls-p cls-pt-0 cls-mb-0 cls-user-no-select cls-ta-center">
      {{ "CLIENTADITIONALBUSS" | translate }}
    </p>
  </div></ng-template
>
