.cls-clients {
  nz-table {
    nz-table-inner-default {
      background: var(--bg-color-third);
    }
  }
  .cls-card-client {
    width: 40%;
    padding: 25px;
    border-radius: 5px;
    min-height: 425px;

    @media only screen and (max-width: 600px) {
      width: 100%;
      padding: 5px 10px;
    }
  }

  .cls-contain-0 {
    background: var(--bg-color-second);
    min-height: 100vh;
    z-index: 100;
    position: relative;
    width: calc(100%);

    .cls-text-erp {
      background: #03bfff;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      font-weight: bold;
      font-size: 20px;
    }

    .cls-line-fenix {
      width: 40%;
      height: 4px;
      background: rgb(3, 191, 255);
      background: linear-gradient(
        159deg,
        rgba(3, 191, 255, 1) 0%,
        rgba(3, 191, 255, 1) 40%,
        rgba(119, 2, 255, 1) 80%,
        rgba(119, 2, 255, 1) 100%
      );
    }

    .cls-text-pos {
      background: #7702ff;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      font-weight: bold;
      font-size: 20px;
      color: #fff;
    }

    .cls-erp {
      padding-top: 90px;
      height: 100%;
      background-color: var(--bg-color-second);
    }
    .cls-pos {
      padding-top: 90px;
      height: 100%;
      background-color: var(--bg-color-four);
    }
  }

  nz-carousel {
    height: 400px;
    width: 85%;
    @media only screen and (max-width: 600px) {
      height: fit-content;
      width: 100%;
      .slick-slide,
      .slick-track,
      .slick-list {
        height: fit-content !important;
      }
    }
  }

  [nz-carousel-content] {
    text-align: start;
    background: var(--bg-color-second);
    color: #fff;
  }

  h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
  }

  .cls-arrow {
    font-size: 40px;
    color: #03bfff;
    position: relative;
    top: 20px;
    cursor: pointer;
    @media only screen and (max-width: 600px) {
      font-size: 25px;
    }
  }

  .cls-card-product {
    background: rgb(3 191 255 / 10%);
    padding: 12px;
    border-radius: 5px;
  }
}
