<div class="cls-column cls-w-100 cls-our-services">
  <div
    id="idServices"
    class="cls-contain-0 cls-pt-20 cls-row cls-a-start cls-j-center"
  >
    <div
      class="cls-team cls-column cls-gap-40 cls-a-center cls-j-center cls-w-100"
    >
      <p class="cls-p cls-pb-0 cls-mb-0">
        {{ "CUSTOMDEV" | translate }}
      </p>

      <div
        class="cls-row cls-gap-40 cls-a-center"
        [ngClass]="{ 'cls-column': globalService.device.isMobile }"
      >
        @for (item of services; track item.id){
        <nz-card [class]="'cls-card ' + item.class" [nzCover]="temContentCard">
        </nz-card>

        <ng-template #temContentCard>
          <div class="cls-column cls-gap-20">
            <h2 class="cls-title-card">
              {{ currentLang == "en" ? item.title : item.titleEs }}
            </h2>
            <img
              class="cls-img-card"
              [ngSrc]="item.urlImage"
              width="70"
              height="70"
              alt=""
              priority
            />
            <p class="cls-text-card">
              {{ currentLang == "en" ? item.text : item.textEs }}
            </p>
            <button class="cls-button-ang">
              <a
                [href]="
                  'https://wa.me/573206982716?text=' + item.messageWhatAsApp
                "
              >
                {{ currentLang == "en" ? item.actionText : item.actionTextEs }}
                <span nz-icon nzType="double-right" nzTheme="outline"></span>
              </a>
            </button>
          </div>
        </ng-template>
        }
      </div>

      <div class="cls-column cls-j-center cls-a-center">
        <p class="cls-p cls-pb-0">
          {{ "PRODUCTIVITY" | translate }}
        </p>
        <button
          class="cls-button-ang cls-purple"
          (click)="goRouter('/fenix', 'idFenix')"
        >
          FENIX
          <span nz-icon nzType="double-right" nzTheme="outline"></span>
        </button>
      </div>
    </div>
  </div>
</div>
