<nz-spin [nzSpinning]="isSpinning">
  <div class="cls-login cls-column cls-a-center cls-j-center">
    <div class="container" id="container">
      <div class="form-container sign-in-container" [formGroup]="formLogin">
        <div class="cls-form">
          <h1>Iniciar sesión</h1>

          <nz-form-item>
            <nz-form-label [nzSpan]="10">Usuario / Correo</nz-form-label>
            <nz-form-control
              nzHasFeedback
              [nzSpan]="12"
              [nzErrorTip]="errorRequired"
            >
              <input
                autocomplete="off"
                type="email"
                placeholder="Ejemplo: micorreo@dominio"
                nz-input
                formControlName="email"
                nzSize="large"
                class="cls-input-large" /></nz-form-control
          ></nz-form-item>

          <nz-form-item class="cls-form-item-pass">
            <nz-form-control
              nzHasFeedback
              [nzSpan]="12"
              [nzErrorTip]="errorRequired"
            >
              <nz-form-label [nzSpan]="10">Contraseña</nz-form-label>
              <nz-input-group
                [nzSuffix]="sufixShowPass"
                style="padding: 0 10px 0 0 !important"
              >
                <input
                  autocomplete="new-password"
                  [type]="showPassword ? 'text' : 'password'"
                  placeholder=""
                  nz-input
                  formControlName="password"
                  minlength="8"
                  maxlength="20"
                  nzSize="large"
                  class="cls-input-large"
                  style="margin: 0 !important"
                />
              </nz-input-group>
            </nz-form-control>

            <ng-template #sufixShowPass>
              <span
                (click)="showPassword = !showPassword"
                nz-icon
                [nzType]="showPassword ? 'eye-invisible' : 'eye'"
                nzTheme="outline"
                class="cls-eye"
              ></span>
            </ng-template>
          </nz-form-item>

          <button
            class="cls-btn-login"
            (click)="login()"
            [disabled]="!formLogin.valid"
          >
            Entrar
          </button>
        </div>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1 class="cls-title-register">Hola ¡bienvenido a Ayesa!</h1>
            <p class="cls-text-ayesa">
              Crea una cuenta y comienza tu viaje con nosotros.
            </p>
            <button
              class="cls-btn-login cls-btn-ghost"
              id="signUp"
              (click)="clickSignUp()"
            >
              Crear
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-spin>

<ng-template #errorRequired let-control>
  @if(control.errors?.['required']) { Campo requerido } 
  @else if(control.errors?.['pattern']) { El formato del correo es incorrecto } 
  @else if (control.errors?.['minlength']) { La contraseña debe tener al menos 8
  caracteres }
</ng-template>
