<app-layout></app-layout>

<!-- <nz-select
  nzSize="small"
  [(ngModel)]="currentLang"
  (ngModelChange)="changeLanguage($event)"
  nzPlaceHolder="Language"
  [nzCustomTemplate]="defaultTemplate"
  class="cls-lang"
  nz-tooltip
  [nzTooltipTitle]="globalService.device.isDesktop ? 'Cambia el lenguaje' : ''"
  nzTooltipColor="#7703ff"
  nzTooltipPlacement="bottom"
>
  <nz-option
    *ngFor="let country of countries"
    [nzLabel]="currentLang == 'es' ? country.nameEs : country.name"
    [nzValue]="country.code"
  ></nz-option>
</nz-select>

<ng-template #defaultTemplate let-selected>
  <div class="cls-row cls-gap-10 cls-a-center cls-text-lang">
    <img
      [src]="'/assets/icons/flags/' + selected.nzValue + '.png'"
      alt=""
      width="15"
      height="15"
    />
    {{ selected.nzLabel }}
  </div>
</ng-template>

@defer(when audio){ @if (!isMutedSound) {
<img
  src="/assets/icons/sounds/play.gif"
  alt=""
  class="cls-sound cls-cursor-p"
  [ngClass]="{ 'cls-sound-mobile': globalService.device.isMobile }"
  (click)="mutedSound()"
/>
} @else {
<img
  src="/assets/icons/sounds/frame-no-sound.png"
  alt=""
  class="cls-sound cls-cursor-p"
  [ngClass]="{ 'cls-sound-mobile': globalService.device.isMobile }"
  (click)="mutedSound()"
/>

} } -->
