:root {
    --primary-color: #48adf5;
    --second-color: #03bfff;
    --bg-color-primary: #131f28;
    --bg-color-second: #131f28;
    --bg-color-third: #fff;
    --bg-color-four: #121212;
    --bg-color-five: #161616;
    // #161515
}

.red {
    color: #cf1322;
    background: #fff1f0;
    border-color: #ffa39e;
}

.volcano {
    color: #d4380d;
    background: #fff2e8;
    border-color: #ffbb96;
}

.gold {
    color: #d48806;
    background: #fffbe6;
    border-color: #ffe58f;
}

.magenta {
    color: #c41d7f;
    background: #fff0f6;
    border-color: #ffadd2;
}

.green {
    color: #389e0d;
    background: #f6ffed;
    border-color: #b7eb8f;
}

.purple {
    color: #b3b3ff;
    background: #f3f3ff;
    border-color: #b3b3ff;
}

:root {
    --text-color: #494949;
}
