li,
span,
p {
    font-size: 13px;
    font-family: "Noto Sans", sans-serif;
}

h2 {
    font-size: 24px;
    font-family: "Noto Sans", sans-serif;
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #397524 #DFE9EB;
}
