.cls-row {
    display: flex !important;
    flex-direction: row !important;
}

.cls-row-wrap {
    display: flex !important;
    flex-flow: wrap !important;
    gap: 10px !important;
    justify-content: center !important;
}

.cls-row-wrap-start {
    display: flex !important;
    flex-flow: wrap !important;
    gap: 10px !important;
    justify-content: start !important;
}

.cls-column {
    display: flex !important;
    flex-direction: column !important;
}

.cls-row-between {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}

.cls-column-between {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.cls-center {
    align-items: center !important;
    justify-content: center !important;
}

.cls-a-center {
    align-items: center !important;
}

.cls-a-start {
    align-items: flex-start !important;
}

.cls-j-around {
    justify-content: space-around !important;
}

.cls-a-end {
    align-items: flex-end !important;
}

.cls-j-center {
    justify-content: center !important;
}

.cls-j-start {
    justify-content: flex-start !important;
}

.cls-j-end {
    justify-content: flex-end !important;
}

.cls-ta-end {
    text-align: end;
}

.cls-ta-start {
    text-align: start;
}

.cls-ta-center {
    text-align: center;
}

.cls-gap-5 {
    gap: 5px !important;
}

.cls-gap-10 {
    gap: 10px !important;
}

.cls-gap-16 {
    gap: 16px !important;
}

.cls-gap-20 {
    gap: 20px !important;
}

.cls-gap-40 {
    gap: 40px !important;
}

.cls-m-5 {
    margin: 5px !important;
}

.cls-m-10 {
    margin: 10px !important;
}

.cls-m-16 {
    margin: 16px !important;
}
.cls-m-0 {
    margin: 0px !important;
}

.cls-mr-10 {
    margin-right: 10px !important;
}
.cls-mr-16 {
    margin-right: 16px !important;
}

.cls-ml-10 {
    margin-left: 10px !important;
}
.cls-ml-16 {
    margin-left: 16px !important;
}

.cls-mt-10 {
    margin-top: 10px !important;
}

.cls-mt-20 {
    margin-top: 20px !important;
}

.cls-mt-16 {
    margin-top: 16px !important;
}

.cls-mb-0 {
    margin-bottom: 0px !important;
}

.cls-mb-10 {
    margin-bottom: 10px !important;
}
.cls-mb-16 {
    margin-bottom: 16px !important;
}

.cls-mb-20 {
    margin-bottom: 16px !important;
}

.cls-p-0 {
    padding: 0 !important;
}

.cls-p-10 {
    padding: 10px !important;
}
.cls-p-16 {
    padding: 16px !important;
}

.cls-pr-5 {
    padding-right: 10px !important;
}

.cls-pr-10 {
    padding-right: 10px !important;
}
.cls-pr-16 {
    padding-right: 16px !important;
}

.cls-pl-10 {
    padding-left: 10px !important;
}
.cls-pl-16 {
    padding-left: 16px !important;
}
.cls-pt-0 {
    padding-top: 0px !important;
}
.cls-pt-10 {
    padding-top: 10px !important;
}
.cls-pt-16 {
    padding-top: 16px !important;
}
.cls-pb-5 {
    padding-bottom: 5px !important;
}

.cls-pb-10 {
    padding-bottom: 10px !important;
}
.cls-pb-16 {
    padding-bottom: 16px !important;
}

.cls-p-20 {
    padding: 20px !important;
}

.cls-pr-20 {
    padding-right: 20px !important;
}

.cls-pl-20 {
    padding-left: 20px !important;
}

.cls-pt-20 {
    padding-top: 20px !important;
}

.cls-pb-0 {
    padding-bottom: 0px !important;
}

.cls-pb-20 {
    padding-bottom: 20px !important;
}

.cls-ph-40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.cls-ph-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.cls-flh-100 {
    line-height: calc(100% + 2px) !important;
}
.cls-cursor-p {
    cursor: pointer !important;
}

.cls-fs-12 {
    font-size: 12px !important;
}

.cls-fs-14 {
    font-size: 14px !important;
}

.cls-fs-16 {
    font-size: 16px !important;
}

.cls-fs-18 {
    font-size: 18px !important;
}

.cls-fw-600 {
    font-weight: 600 !important;
}

.cls-no-s-text {
    /* evitar selección de texto */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.cls-w-fit {
    width: fit-content;
}

.cls-w-100 {
    width: 100%;
}

.cls-w-50 {
    width: 50%;
}

.cls-w-60 {
    width: 60%;
}

.cls-w-80 {
    width: 60%;
}

.cls-w-33 {
    width: 33%;
}

.cls-w-70 {
    width: 70%;
}

.cls-row-current {
    background: #e6f7ff !important;
}

.cls-but-icon {
    padding: 0px;
    height: 24px;
    min-width: 32px !important;
}

.cls-h-100 {
    height: 100% !important;
}

.cls-user-no-select {
    -webkit-user-select: none;
    user-select: none;
}


